<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>Ma première application Vue</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<link rel="stylesheet" href="styleVue.css">
</head>

<body>
    <div id="app" class="container">
		<span v-bind:title="date" style="font-variant: small-caps">
		  	{{ message }}
	  	</span>
	  	</br>
		
			<ul>
				<!-- <li v-for="todo in todos">
					<input type="checkbox" class="dynamic" id="todotask" name="todotask" v-on:change="todo.ended = !todo.ended" v-if="todo.display">
					<label for="todotask" v-if="todo.display">{{ todo.text }}</label>
				</li> -->
			
				<todo-item
					v-for="item in todos"
					v-bind:todo="item"
					v-bind:key="item.id"
				></todo-item>
			</ul>
		
		<input type="text" placeholder="Tâche à ajouter à la liste" v-on:keyup.enter="addToList" v-model="toAdd">
		<button class="add" v-on:click="addToList">Ajouter</button></br>
		<button class="remove" v-on:click="removeFromList">Supprimer les tâches terminées</button>
    </div>
</body>

<script>
Vue.component('todo-item', {
	props: ['todo'],                                                                  /*v-on:change="todo.display = !todo.display" mais pas de timeout pour faire disparaitre après X secondes compatible Vue.js trouvé*/
	template: '<li><input type="checkbox" class="dynamic" id="todotask" name="todotask" v-on:change="todo.ended = !todo.ended" v-if="todo.display"><label for="todotask" v-if="todo.display">{{ todo.text }}</label></li>'
});

var app = new Vue({
	el: "#app",
	data: {
		todos: [
			{ id: 0, display: true, ended: false, text: "Réviser pour les partiels" },
			{ id: 1, display: true, ended: false, text: "Se renseigner sur Vue.js" },
			{ id: 2, display: true, ended: false, text: "Créer cette mini-page en Vue.js" },
			{ id: 3, display: true, ended: false, text: "La montrer à M. Bachatene" },
			{ id: 4, display: true, ended: false, text: "Obtenir un stage" }
		],
		message: "Liste des choses à faire:",
		date: "Liste ouverte le " + new Date().toLocaleString(),
		toAdd: "",
		nbElements: 5,
	},
	
	methods: {
		addToList: function() {
			if(this.toAdd != ""){ 
				this.todos.push({ id: this.nbElements, display: true, ended: false, text: this.toAdd });
				this.nbElements = this.nbElements + 1;
				this.toAdd = "";
				this.date = "Liste éditée le " + new Date().toLocaleString();
			}
		},

		removeFromList: function() {
			for(let i=0 ; i < this.nbElements ; i++) {
				if(this.todos[i].ended) {
					// erreur: la checkbox n'est "pas supprimée" s'il y a des éléments après => la checkbox de l'index i reste checked donc pb d'affichage pour l'élément i+1
					// mise en place d'un tri pour que les évènements terminés soient à la fin de la liste
					
					// this.todos[i].ended = false;
					// this.todos.splice(i, 1);
					
					this.todos[i].display = false;
					this.date = "Liste éditée le " + new Date().toLocaleString();
				}
			}
		},
		
		sort: function() {
		/* FAIRE LE TRI DANS L'ORDRE => REMONTER LES TACHES PLUTOT QUE SWAP */
			var temp;
			var last;
			
			// pas sûr que ça marche
			for(let i=0 ; i < this.nbElements ; i++) {
				var j = nbElements-1;
				while(this.todos[j].ended){
					j = j-1;
					last = this.todos[j];
				}
				if(this.todos[i].ended) {
					temp = last;
					this.todos[j] = this.todos[i];
					this.todos[i] = temp;
				}
			}
		}
	}
});
</script>


</html>