body {
	margin: 50px;
	padding: 0;
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
	flex: 1;
	font-family: Calibri;
	font-size: 16px;
}

.container {
	border: 2px solid;
	border-color: grey;
	background: #B6EFEF;
	padding: 20px;
}

ul {
	list-style-type: none;
	padding: 20 px;
}

.box {
	justify-content: center;
	align-items: center;
	display: flex;
	flex: 1;
}

button {
	text-align: center;
	border: 2px solid;
	border-radius: 8px;
	height: 32px;
}

button.add {
	border-color: green;
	background-color: green;
	color: dark;
	transition: all .3s;
}

button.add:hover {
	border-color: chartreuse;
	background-color: chartreuse;
	color: dark;
}

button.remove {
	margin: 50px 0px;
	border-color: red;
	background-color: white;
	color: dark;
	transition: 0.3s;
}

button.remove:hover {
	border.color: red;
	background-color: red;
	color: white;
}

input[type="checkbox"].dynamic {
	width: 1.2em;
	height: 1.2em;
	background: white;
	border: 2px solid grey;
	border-radius: 4px;
	position: relative;
	content: '';
	appearance: none;
	transform: translateY(.4em);
	transition: all .2s;
}

input[type="checkbox"].dynamic:hover {
	background: lightgrey;
}

input[type="checkbox"].dynamic:after {
	position: absolute;
	content: '';
	display: none;
	left: 25%;
	top: 0em;
	width: .25em;
	height: .6em;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

input[type="checkbox"].dynamic:checked {
	background: green;
	border-color: green;
}

input[type="checkbox"].dynamic:checked:after {
	display: block;
}

input[type="checkbox"].dynamic:checked + label {
	text-decoration: line-through;
}

input[type="text"] {
	position: relative;
	border: 1px solid dark;
	border-color: darkgray;
	border-radius: 2px;
	margin-top: 50px;
	margin-left: 0;
	padding: 5px;
	transition: 0.5s;
	width: 250px;
	height: auto;
}

input[type="text"]:hover {
	background-color: lightgrey;
	border-radius: 6px;
}

label {
	position: relative;
	cursor: pointer;
	text-decoration: none;
	text-align: left;
	color: dark;
}